{% macro head() %}
  <meta charset='utf-8'>
  <meta name='description' content='Marble: A puzzle game'>
  <meta name='keywords' content='marbles, computer, game, web, internet, puzzle'>
    
  <title>Marbles</title>
    
  <link href='/static/icons/favicon.png' rel='image/png'>
  <link rel='stylesheet' type='text/css' href='/static/styles/commons.css'>
{% endmacro %}

{% macro disclaimer() %}
  <div><a href="https://manuel-io.github.io/blog/2015/07/03/marbles-preview" target="_blank"><img src="/static/icons/favicon.png"></img></a></div>
  <div><p><a href="https:/github.com" target="_blank">Marbles (© 2015-2021)</a></p></div>
  <div><p><a href="/ranking" target="_blank">Ranking</a></p></div>
{% endmacro %}
